*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.half-width{
    float: left;
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
nav{
    width: 90%;
    text-align: right;
    margin-bottom: 20px;
}
nav a{
    padding: 15px 15px;
    font-size: 18px;
    color: #3C3C3C;
    display: inline-block;
}
section{
    height: 500px;
    padding: 50px 0;
}
a{
    text-decoration: none;
    font-weight: 500;
}
.text-right{
    text-align: right;
}
img{
    width: 100%;
}
.text-right a{
    margin-left: 15px;
}
.orange{
    color: #F46060;
}
.header h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 100px;
}
.header p{
    color: #3E3E3E;
    width: 300px;
}
.btn{
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 15px 45px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}
.about{
    height: 500px;
    margin-top: 100px;
    background: #F8F9FC;
}
h2{
    font-size: 40px;
    color: #363958;
    margin-bottom: 30px;
}
.about p{
    width: 500px;
    color: #3E3E3E;
    margin-bottom: 20px;
}
.about-text{
    margin-top: 50px;
}
.work{
    background: #F8F9FC;
    text-align: center;
    padding: 80px 0 150px;
}
.one-third{
    width: 28%;
    margin: 0 auto;
    padding: 15px;
    background: #ffffff;
    float: left;
    padding-left: 2%;
    margin-left: 2%;
    box-shadow: 5px 5px 10px #999;
    border-radius: 10px;
    margin-top: 70px;
}
h3{
    color: #363958;
    font-size: 26px;
    margin: 10px 0;
    text-align: left;
}
.work p{
    color: #6C6C6C;
    text-align: left;
}
.social-contact h1{
    display: inline-block;
}
.chat{
    background-image: url(img/Group_33094_1.png);
    width: 60%;
    margin: auto;
    background-size: cover;
    padding: 50px;
    border-radius: 20px;
}
.chat h1{
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}
.button{
    display: inline-block;
    margin-left: 30%;
    margin-bottom: 1%;
    line-height: 1.8;
}
.social-media{
    text-align: center;
    margin-top: 50px;
} 
.social-media img{
    height: 40px;
    width: 40px;
}
.social-media h2{
    margin: 10px 0;
}
.social-media p{
    color: #6C6C6C;
    font-size: 18px;
}
.social-contact{
    height: 300px;
    margin-bottom: 50px;
}
.contact{
    text-align: center;
}
.contact p{
    color: #6C6C6C;
    margin-bottom: 50px;
}
.contact h2{
    font-size: 50px;
}
form{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contact .half-width{
    padding-left: 1%;
    margin-left: 5%;
}
 input{
    width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #ddd;
}
textarea{
    width: 86.5%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
	font-size: 16px;
	border-radius: 4px;
    border: 1px solid #ddd;
    height: 150px;
    margin-top: 10px;
}
.image{
    width: 10%;
    float: left;
}
.desc{
    width: 85%;
    float: left;
    margin-left: 5%;
    margin-bottom: 50px;
}
.desc h4{
    font-size: 22px;
}